{% extends 'base.html' %}
{% block content %}
    <div class="about">
        <div class="info rounded">
            <h3>5minmail</h3>
            <p>5 minute mail is a webiste created to avoid
                spam emails or sign up to websites where using your 
                own email is not an option.</p>
        </div>
        <div class="stats">
            
            <h3>Website stats:</h3>
            <h4 class="stat">Total mails received: {{totmails}}</h4>
            <h4 class="stat">Total users: {{totusers}}</h4>
            {% if current_user.is_authenticated %}
                <h3>{{current_user.username}}'s Stats</h3>
                <h4 class="stat">Mails received: {{usermails}}</h4>    
            {% endif %}
        </div>
    </div>
{% endblock content %}


