{% extends "base.html" %}
{% block content %}
    
<div class="container main">
    <div class="content">
        <h1 class="inboxtxt">Step 1: Use temporary e-mail address</h1>
            <div class="tempmailbox">
                <h2 id="mailtext" data-address="{{mailadd}}">{{mailadd}}<button class="copybutton" id="copybutton" data-toggle="popover" data-content="Copied!"><span class="bi-clipboard"></span></button></h2>
                
            </div>

        <h1 class="inboxtxt">Step 2: Receive emails</h1>
        <div class="mailbox shadow">
            <table class="mailtable">
                <thead class="thead">
                <tr class="thead">
                    <th class="hitem">From</th>
                    <th class="hitem">Subject</th>
                    <th class="hitem">Content</th>
                </tr>
                </thead>
                <tbody id="tbl">
                    
                </tbody>  
            </table>
        </div>
        <button class="btn btn-primary refresh"><span class="glyphicon glyphicon-refresh"></span>Refresh</button>
    </div>
    <div class="sidebar">
        <h3>
            Welcome,
            {% if current_user.is_authenticated %} 
                {{current_user.username}} 
            {% else %}
                stranger!
            {% endif %}
        </h3>
        <p class="sidebarinfo">Sign up to save your current mail address or login if you already have an account.</p>
        {% if current_user.is_authenticated %}
             Your Address: {{current_user.email}}
        {% else %}
            <div class="sidebarbtns">
                <a class="btn btn-primary loginbutton" href="{{url_for('signup')}}">Sign up</a>
                <a class="btn btn-primary loginbutton" href="{{url_for('login')}}">Log in</a>
                
            </div>
            
        {% endif %}
    </div>
</div>



{% endblock content %}
